.flex-container {
  display: flex;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 1px solid #aaa;
  background-color: #aaa;
  position: relative;
}

.gameCell {
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  position: absolute;
}
